##
# EXAMPLE
#
# Read more about .env files when using create-react-app here:
# https://facebook.github.io/create-react-app/docs/adding-custom-environment-variables#adding-development-environment-variables-in-env
#

PUBLIC_URL=/
APP_CONFIG=config/netlify.js
USE_HASH_ROUTER=false

# Report
USER_MNG_URL=http://192.168.201.54/api
#INTEG_API_ENDPOINT=http://192.168.201.54/api
DCM_API_ENDPOINT==http://192.168.201.54:8080/dcm4chee-arc/aets/DCM4CHEE

# Login Url
#LOGIN_URL=http://192.168.201.15:3001/login

# Shown in diagnosis report pdf
ORG_NAME=XXXXXXXXXXXXXX
ORG_ADDR=xxx
ORG_TEL=090XXXXX

# Report print tempate
ORG_PRINT_TEMPLATE_LIST=[{"value":"1", "label":"Hiện BSCĐ"}, {"value":"0", "label":"Ẩn BSCĐ"}]
